body {
    font-family: arial;
    font-size: 14px;
}

#map-canvas {
    height: 100%;
}

body,
h1,
#map-canvas {

    margin: 0;
    padding: 0;
}


#content {
    clear: both;

    padding: 0;
    margin-right: auto; 
    margin-left: auto; 
}

section#landing {
    position: absolute;
    height: 90%;
    width: 100%;
}

#new {
    margin: 0;
}

.subsection {
    display: none;
}

.spinner {
    display: none;
}

.loading #content {
    opacity: .2;
}

.loading .spinner {
    background-image: url("/images/ajax-loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
}

.infoBox {
    background-color: lightyellow;
    padding: 5px 5px 5px 5px;
    width: auto;
    min-width: 100px;
    max-width: 200px;
}